# SUPABASE CONFIG
SUPABASE_URL="***********************"
SUPABASE_KEY="***********************"

# Z-API CONFIG
ZAPI_INSTANCE_ID="***********************"
ZAPI_INSTANCE_TOKEN="***********************"
ZAPI_CLIENT_TOKEN="***********************"

# MENSAGEM
MENSAGEM_TEMPLATE="Olá, <nome_contato>! Esta é uma mensagem de teste do nosso sistema usando Python e Z-API.